.price {
  background-color: blue;
}
.card-para {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.products {
  display: flex;
  flex-wrap: wrap;
}

.product {
  border: 1px solid;
  border-radius: 15px;
  margin: 20px;
}

